{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
         <link rel="stylesheet" type ="text/css" media="screen" href = "{% static 'css/Login.css' %}"/>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="full-page">
            <div class="center" style="box-shadow: 0 4px 8px 0 ">
              <h1 align="center" style="padding-top: 30px;font-family:Dancing Script, cursive;padding-bottom: 30px">GEC Connections</h1>
                <h2 align="center" style="padding-top: 20px;padding-bottom: 20px;">Login</h2>
                <i>{% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                  <p style="font-family: times new roman">{{ error }}</p>
                  {% endfor %}
                  {% endif %}
                </i>
                <form method="post">
                  {% csrf_token %}
                    <div class="txt_field">
                      <input type="text" name="username" maxlength="150" required id="id_username" autofocus>
                        <span></span>
                        <label>{{ form.username.label }}</label>
                        
                    </div>
                    <span>{{ form.username.errors }}</span>
                    <div class="txt_field">
                     
                      <input type="password" name="password" required id="id_password" autofocus>
                        <span></span>
                        <label>{{ form.password.label }}</label>
                    </div>
                    <span>{{ form.password.errors }}</span>
                    <div class="pass">
                      <a href="{% url 'passwordreset' %}" style="color: #2691d9;">Forget Password?</a>
                    </div>
                    <input type="submit" value="Login">
                    <div class="signup_link">
                       Not have an account? <a href="{% url 'register' %}">Click here</a> 
                    </div>
                </form>
            </div>
        </div>
      </body>
</html>




<!--
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
    Latest compiled and minified CSS 

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="#">Gec connections</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}"
                ><button type="button" class="btn btn-outline-info">
                  sign up
                </button></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="back">
      <div class="container flexi">
        <div class="row ex">
          <div class="col-md-6">
            <img class="auth" src="{% static 'images/safe-login.png' %}" />
          </div>
          <div class="col-md-6 brd">
            <form action="" method="POST" id="contactForm">
              {% csrf_token %}
              <h4 class="text-center">Login form</h4>
              <span  style="color: white;">{{ form.username.errors }}</span>
              <div class="form-group">
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  id="roll-no"
                  placeholder="Roll Number"
                  required
                />
              </div>
              <span  style="color: white;">{{ form.password.errors }}</span>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="pwd"
                  placeholder="password"
                  required
                />
              </div>

              <button
                id="submit"
                type="submit"
                class="btn btn-success"
                onclick="document.getElementById('visible').style.visibility='visible'"
              >
                Submit
              </button>
              <div style="color: #fff" class="form-group extra">
                Have you forgotten password ?
                <a href="{% url 'passwordreset' %}" class="forget-pwd">click here</a>
              </div>

              <div style="color: #fff" class="form-group extra">
                Dont have an account ?
                <a href="{% url 'register' %}" class="create-account">click here</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

-->


<!--
<!DOCTYPE html>
<html lang="en">
<head>
  {% load humanize %}
    {% load static %}
    <meta charset="utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" type ="text/css" media="screen" href = "{% static 'css/login.css' %}"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div class="banner">
  <div class="navbar">
    <img src="{% static 'GEC_connections_white.png' %}" height="200" width="200">
  </div>
      <div class = "form-container col-4 ml-auto shadow card card-body">
	           <h2 align="center" style="color:#245072;font-family:Times New Roman;font-weight: bold;">Login</h2>
              <form method="POST"> 
                  <div id="div_id_username" class="form-group">
	                     {% csrf_token %}
	           <label for="id_username" class=" requiredField">

                Roll Number : <span class="asteriskField">*</span> 
            </label> 

                <div class=""> 
                  <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username" placeholder="Roll Number"> 
                </div> 
              </div>
  
          <div id="div_id_password" class="form-group"> 

        <label for="id_password" class=" requiredField">
                Password : <span class="asteriskField">*</span> 
        </label> 

              <div class=""> <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password" placeholder="Password"> 
            </div>
                <a href="{% url 'passwordreset' %}" class="float-left">Forget Password?</a>
      </div>
        <div style="padding-top: 15px">
          <button type="submit" class="btn btn-lg btn-block" style = "background-color:#245072;color:white;border-radius: 12px;">Login</button>
        <small class="float-right">Not have an account <a href="{% url 'register' %}">Click Here</a></small>
            </div>
      </form>
  </div>
</div>

</body>
</html>

-->