{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %} 
  Update profile
 {% endblock %}
{% block content %}
<div class="card shadow border border-dark">
	<div class="card-body">
		<h1 style="font-family: times new roman;text-align: center;">Edit Profile</h1>
<div class = "form-group col-15">
	<form method="POST" enctype = "multipart/form-data"> 
		{% csrf_token %}
		{{ u_form|crispy }}
		{{ p_form|crispy }}
		<div class= "d-flex justify-content-center">
		 <button type="submit" class="btn" style = "background-color:#245072;color:white;border-radius: 18px;padding: 10px 48px;font-size: large;font-family: times new roman">Update</button>
		</div>
	</form>
</div>
</div>
</div>

{% endblock %}
