{% extends 'home.html' %}
{% block title %} 
  Add Post
 {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="card shadow border border-dark">
	<div class="card-body">
		<h1 style="font-family: times new roman;text-align: center;">Write Your Blog Here ..</h1>
<div class = "form-group col-15">
	<form method="POST" enctype = "multipart/form-data"> 
		{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}
	<div class= "d-flex justify-content-center">
		 <button type="submit" class="btn" style = "background-color:#245072;color:white;border-radius: 18px;padding: 10px 48px;font-size: large;font-family: times new roman">Post</button>
	</div>
	</form>
</div>
</div>
</div>
<script>
	var name = "{{ user.id }}";
	document.getElementById("u1").value=name;
</script>
{% endif %}
{% endblock %}
